


.Header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;background-color: #FFF8F3;
}
.open-sans-h {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 0 200px;

}
nav .nav-nm{
    font-size: 45px;
    font-weight: 800;
}
.nav-nm .nm-type{
    color: #FD6E0A;
}
nav .nv-type{
    display: flex;
    gap: 20px;
}
.nv-ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
    
}
.nv-ul .li-item{
    text-decoration: none;
    
}

.btn{
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    padding: 15px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}

/* .dark[1-3] */
.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;

}
.dark-3{
    color: #757575;
}

.b-itm1{
    font-size: 40px;
    font-weight: 600;
}
.b-itm2{
    font-size: 75px;
    font-weight:bold;
}
.b-itm3{
    font-weight: 400;
    font-size: 17;
}

.Banner{
    display: flex;
    margin: 0px 80px 0 200px;
    justify-content: space-between;
}

.Banner .banner-type{
    max-width: 585px;
}
.b-img{
    width: 580px;
    height: 676px;
}

/* main */

.main-1{
    max-width: 940px;
    background-color:#FFF8F3 ;
    margin: 0 auto;
    padding: 130px 150px;
    margin-top: 150px;
    text-align: center;
}

.m-header{
    font-size: 35px;
    font-weight: bold;
}
.m-title{
    font-size: 18px;
    font-weight: 400;
}

.about-items{
    display: flex;
    justify-content: space-around;
}